body{
  max-width: 500px;
  margin: 0 auto;
  display: block;
  border: none ;
  padding: 10px 0 30px; 
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  background-color: #e0f2f7;
}
.body{
  padding: 10px 20px;
}
.header{
  font-size: 35px;
  font-weight: 700;
  padding: 0;
  color: #020202;
  margin: 30px 0 0;
  text-align: center;
}
.header span{
  color: #004f40;
}
.search-form{
  display: flex;
  justify-content:center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto 40px;
  padding: 30px 0 0;
  position: relative;
}
.search-input{
  width: 100%;
  padding: 18px 15px;
  border: none;
  background-color: #fff;
  border-radius: 20px;
  font-size: 18px;
  color: #020202;
}
.search-input:focus{
  outline: none;
}
.search-btn{
  position: absolute;
  right: 10px;
  top: 36px;
  background-color: transparent;
  border-radius: 20px;
  background-color: #004f40;
  font-size: 18px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.search-btn:focus{
outline: none;
}
.display-img{
  height: 200px;
  color: #4c8bf5;
  margin: 20px auto 0;
  display: block;
}
.display-name, .display-date{
  text-align: center;
  margin: 0;
  font-size: 30px;
  color: #000;
}
.display-date{
   font-weight: 100;
}
.display-text{
  margin: 0;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: #000;
}
.next{
  font-size: 30px;
  color: #000;
}
.contents{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contents p{
  width: 150px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  padding: 20px 0;
  border-radius: 10px;
  color: #004f40;
}
.futures{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.future{
  width: 140px;
  text-align: center;
  font-size: 18px;
  color: #000;
  font-weight: 600;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  color: #004f40;
}